section.wrapper {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("image/paws.png") no-repeat;
    position: relative;
}
.ending {
    width: 500px;
    height: 500px;
    background: url("image/end.png") no-repeat;
    z-index: 9999;
    position: absolute;
    top: 200px;
    border: 1px solid #000;
    border-radius: 50%;
    animation: ending 1s   ;
    display: none;
    justify-content: center;
    align-items: last baseline;
}
@keyframes ending {
    from {
        top: 450px;
        width: 0;
        height: 0;
    }to{
        top: 200px;
        width: 500px;
        height: 500px;
    }
}
section.wrapper h1.title {
    color: navy;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;

}
section.wrapper .toHome {
    position: absolute;
    font-size: 12px;
    left: 0;
    top: 10px;
    padding: 3px 10px;
    border-radius: 20px;
}
section.wrapper .setLevel{
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-bottom: 20px;
}
section.wrapper .setLevel .level {
    width: 150px;
    padding: 10px 30px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    cursor: pointer;
}
section.wrapper .setLevel .lowLevel {
    background: #f0dd31;
}
section.wrapper .setLevel .lowLevel:hover {
    background: #ffcc00;
}
section.wrapper .setLevel .midLevel {
    background: #37c1b8;
}
section.wrapper .setLevel .midLevel:hover {
    background: #20ada4;
}
section.wrapper .setLevel .highLevel {
    background: #ff4646;
}
section.wrapper .setLevel .highLevel:hover {
    background: #e42c2c;
}
section.wrapper .puzzle {
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

section.wrapper .midLevelGame{
    overflow: hidden;
}

section.wrapper .midLevelGame .mixedImage {
    width: 25%;
    height: 25%;
    float: left;
    overflow: hidden;
    opacity: 0.8;
    border: 1px dashed #ffffff;
    
}
section.wrapper .midLevelGame .mixedImage:hover {
    opacity: 1;
}

section.wrapper .midLevelGame #blank {
    background: #ffffff;
}
@media screen and (max-width: 500px) {
    section.wrapper {
        width: 100%;
        background: none;
    }
    section.wrapper h1.title {
        font-size: 20px;
    }
    section.wrapper .setLevel{
        width: 250px;
    }
    section.wrapper .setLevel .level {
        width: 60px;
        padding: 10px;
        font-size: 13px;
    }
    section.wrapper .puzzle {
        width: 250px;
        height: 250px;
    }
    section.wrapper .puzzle .subTitle {
        font-size: 15px;
        height: 100px;
    }
    section.wrapper .puzzle .subTitle span {
        font-size: 25px;
    }
    section.wrapper .puzzle .animationBox {
        height: 150px;
    }
    section.wrapper .puzzle .animationBox .animationBlock {
        width: 50px;
    }
    @keyframes level1 {
        0% { height: 50%;}
        50% {height: 100%;}
        100% {height: 50%;}
    }
    .ending {
        width: 250px;
        height: 250px;
        background: url("image/end.png") no-repeat center center / cover;
    }
    @keyframes ending {
        from {
            top: 250px;
            width: 0;
            height: 0;
        }to{
            top: 200px;
            width: 250px;
            height: 250px;
        }
    }
}