body {
    background: rgba(80, 156, 167, 0.562);
    overflow: hidden;
}

body header {
    display: flex;
    justify-content: center;
    align-items: center;
}

body header .gametitle {
    width: 800px;
    height: 180px;
    padding: 20px 20px;
}

body header .gametitle .covid {
    font-size: 30px;
    display: block;
    width: fit-content;
    margin-left: 18%;
    margin-top: 10px;
    transform: rotate(-10deg);

}

body header .gametitle .blue {
    color: rgb(2, 47, 132);
}

body header .gametitle .titleLine {
    display: flex;
    justify-content: center;
}

body header .gametitle .titleLine .break {
    color: rgb(255, 255, 255, 0.7);
    width: fit-content;
    font-size: 90px;
    margin: 0 auto;
}

.container {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin: 0 auto;
    width: 800px;
    display: flex;
    justify-content: center;
}

.container .wrapper {
    width: fit-content;
    padding: 10px;
}

.container .wrapper .gameLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    float: left;
    margin: 10px;
    border: 5px solid #ffffff;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    background: #ffffff;
}

.container .wrapper .gameLink:nth-child(3) {
    content: '';
    clear: both;
    display: block;
}

.container .wrapper .gameLink .gameVideo {
    width: 252px;
}

.container .wrapper .gameLink .gameName {
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 5px;
    right: 10px;
    z-index: 9999;
    padding: 5px 15px;
    border-radius: 20px;
}

.container .wrapper .gameLink .gameName1 {
    background: #bbbaff;
}

.container .wrapper .gameLink .gameName2 {
    background: #bbbaff;
}

.container .wrapper .gameLink .gameName3 {
    background: #bbbaff;
}

.container .wrapper .gameLink .gameName4 {
    background: #bbbaff;
}

.container .madeby {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255, 0.7);
    cursor: pointer;
}

.container .madeby:hover .endingCredit {
    display: block;
}

.endingCredit {
    position: absolute;
    right: 100px;
    bottom: 0;
}

.endingCredit {
    display: none;
    width: fit-content;
}

.endingCredit .endingtitle {
    width: fit-content;
    font-weight: 700;
    font-size: 14px;
}

.endingCredit .endingCreditdetail {
    display: block;
    width: 120px;
    font-size: 12px;
}

.endingCredit .endingCreditdetail .endingCreditName {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 500px) {
    body {
        min-width: 260px;
        overflow: auto;
    }
    body header .gametitle {
        width: 100%;
        height: 150px;
    }
    body header .gametitle .covid {
        font-size: 20px;

    
    }
    body header .gametitle .titleLine .break {
        color: rgb(255, 255, 255, 0.7);
        width: fit-content;
        font-size: 70px;
        margin: 0 auto;
    }
    .container {
        width: 100%;
    }
    .container .wrapper {
        width: 250px;
        padding: 0;
    }
    .container .wrapper .gameLink {
        margin: 0 auto 20px;
    }
    .container .wrapper .lastone {
        margin-bottom: 50px;
    }
    .container .madeby {
        display: none;
    }
}